@page
@model GUI.Pages.EditSessionModel
@{
}
<head>
    <meta charset="UTF-8">

    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Questrial|Droid+Sans|Alice' rel='stylesheet' type='text/css'>
</head>



<body>
    <div class="container">
        <div class="row text-center">
            <div></div>

            <div id="content">
                <h1> Edit Session: @Model.Uname at @Model.Sdate </h1>

                <form method="post" role="form">


                    <div class="form-group">
                        <label> Session Room </label>
                        <input type="text" class="form-control" placeholder="Which room" asp-for="@Model.S.Place">
                    </div>
                    <div class="form-group">
                        <label> Session Price </label>
                        <input type="number" class="form-control" placeholder="How much?" asp-for="@Model.S.price">
                    </div>
                    <br />
                    <span>

                        <input type="submit" value="Edit" />
                    </span>
                    <span> @Model.errMsg</span>
                </form>
            </div>
        </div>

    </div>
</body>
